.container {
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.container h2 {
    margin-bottom: 1rem;
}

.container form {
    width: 100%;
    max-width: 90%;
    background-color: #333333;
    border-radius: 20px;
    padding: 36px 64px;
}

.container div {
    margin-bottom: 1rem;
}

.container label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.container input, .container select {
    background-color: #FFF;
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 0.5rem;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 1.125rem;
}

.container button {
    background-color: #b71c1c;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 24px 28px;
    border: none; 
    cursor: pointer;
    color: #FFF;
    margin-top: 0.5rem;
}

.container button:hover {
    background-color: #f44336;
}

/* aula 19 */
.error {
    margin-top: 1.5rem;
    background-color: #b71c1c;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
}