.container {
    min-width: 280px;
    max-width: 1150px;
    margin: 0 auto;
}

.container input {
    width: 320px;
    padding: 15px 10px;
    margin-block: 0.5rem;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 1.125rem;
}
