.header {
    background-color: #000000;
    border-bottom: 2px solid #f44336;
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 9999;
}

.header span {
    font-size: 2rem;
    color: #b71c1c;
    font-weight: 500;
}

.header a {
    text-decoration: none;
    color: #fff;
    padding-inline: 1rem;
    font-size: 1.125rem; /* 18px = 1.125rem; */
}
